<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/start.css">
</head>
<body>
  <h1>Start-Page</h1>
  <div class="container">
    <form action="/auth/login" method="post">
      <input type="email" name="email" id="email" placeholder="email">
      <input type="password" name="password" id="password" placeholder="password" autocomplete="current-password">
      <input type="submit" name="submit">
    </form>
    <div class="info">
      This is a private, non-commercial, non-profitable website.
      If you have any questions, don't be shy to ask me
      <a href="mailto:seidermann.paul@gmail.com">here</a>
    </div>
  </div>
</body>
</html>